@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Viking Lifestyle</h1>
    <p class="info">Vikings is the modern name given to seafaring Norse pirates from southern Scandinavia who from the late 8th to the late 11th centuries raided, pirated, traded and settled throughout parts of Europe. They also voyaged as far as the Mediterranean, North Africa, the Middle East, and North America</p>
</div>
    <div class="video">
        <center><iframe width="854" height="480" src="https://www.youtube.com/embed/TdOw6IZAS1c?&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
    </div>